.firstButton{
    border-radius: 50%;
    border-radius: 15px;
    color: green;
    width: 200px;
    box-shadow: 10px 5px 5px rgb(0, 145, 29);
    background-color: white
}

.secandButtom{
    color: white;
    background-color: green;
    border-radius: 50%;
}
.add{
    color:white;
    background-color: blue;
    width: 200px;
    box-shadow: 10px 5px 5px rgb(0, 0, 0);
}