body {
    font-family: "Monaco", Arial, sans-serif;
}
.nav{
    background-color: gray;
    height: 70px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}
.nav-links{
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 20px;
}
a{
    color: rgb(52, 52, 252);
    text-decoration: none;
}
.active{
    font-weight: bold;
}
.btn{
    background-color:blue;
    color: white;
    border: 2px solid black;
    width: 90px;
    height: 30px;
    box-shadow: 3px 3px 2px 1px black;
}
.theBigBOX {
    margin-top: 9%;
    border-color: black;
    border: 2px solid #000;
}
.l1 {
    width: 340px; 
    float: left; 
    background-color: aqua; 
    padding: 80px; 
}
.content {
    margin-top: 220px;
    margin-left: 50px;
}
.content p{
    font-weight: bold;
}
img {
    width: 100px;
}
.img1 {
    margin-left: 20px;
    margin-top: 7%;
    position: absolute;
    top: 120px;  
}
.img2 {
    width: 20px;
}
.box2{
    border: 2px solid grey;
    width: 500px;
    margin-top: 50px;
}
.t1{
    position: relative;
    bottom: 15px;
    background-color: grey;
    color: white;
    margin-top: 15px;    
}
.box3{
    border: 2px solid #000;
    margin: 4%;
    display: flex;
    flex-direction: column;
}
.ti1{
    background-color: grey;
    border: 2px solid gray;
    color: white;
    font-size: 41px;
    margin: 0px;
}
.pics1{
    display: flex;
    align-items: center;
    height: 100px;
}
.acc1{
    padding: 4%;
    border-radius: 50%;
}
.pic2{
    border-radius: 50%;
}
.n1{
    padding-right: 22px;
}
.box4{
    border: 2px solid gray;
    padding: 0%;
    width: 73%;
    border: 2px solid gray;
    margin: 4%;
}
.con2{
    display: flex;
    flex-direction: column;
    width: 600px;
}
.mast{
    display: flex;
}

.o1{
    background-color: #b6b6b6;
    color: white;
    font-size: 40px;
    margin: 0%;
}
.pics2{
    display: flex;
    flex-direction: column;
}
.lis1{
    padding: 4%;
    border-radius: 50%;
    display: flex;
}
.acc2{
    border-radius: 50%;
    padding-right: 4%;
    width: 100px;
    height: 100px;
}
.rlink{
    text-align: center;
    font-size: large;
    background-color: #f7f7f7;
    padding: 5%;
    border: 2px solid grey
}
.col{
    color: blue;
}

