body {
    font-family: "Helvetica Neue", Arial, sans-serif;
}
.theBigBOX {
    width: 500px;
    border-color: black;
    border: 2px solid #000;
    justify-content: center;
}
.l1 {
    width: 340px; 
    float: left; 
    background-color: aqua; 
    padding: 80px; 
}
.content {
    margin-top: 220px;
    margin-left: 50px;
}
.content p{
    font-weight: bold;
}
img {
    width: 100px;
}
.img1 {
    margin-left: 20px;
    position: absolute;
    top: 120px;  
}
.img2 {
    width: 20px;
}
.box2{
    width:451px ;
    margin: 10px;
    padding: 23px;
    border: 2px solid #000;
}
.t1{
    color: white;
    background-color: #000;
    margin:-5% -5% 0% -5%;
    padding:3% 0% 4% 3%;
}
.container{
    display: flex;
    align-items: center;

}
.box3{
    border: 2px solid #000;
    padding: 4%;
    margin: 4%;
}
.ti1{
    background-color: grey;
    font-size: larger;


}
.pics1{
    display: flex;
    align-items: center;
}
.pic1{
    padding: 3%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.pics2{
    display: flex;
    align-items: center;
}
.pic2{
    padding: 3%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.n1{
    padding-right: 60px;
}
.acc1{
    padding-right: 30px;
}
.box4{
    border: 2px solid #000;

    width: 73%;
    border: 2px solid #000;
    padding: 4%;
    margin: 4%;
}
.m1{
}
.contact1{
    display: flex;
    border-style: dotted; 

}